/* Css of universal Selector  */
 /* code for responsive nav content */
 .content 
 {
  padding: 20px;
  margin-top:0px; /* Adjust this value based on your header height */
  transition: margin 0.3s ease-in-out;
 }
 .content.shifted 
 {
  margin-top: 200px; 
 }
  /* Adjust this value based on your header and nav height */
 * 
 {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 /* Css to Whole Body  */
 body 
 {
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    position: relative;
    background-color:#1f242d;
 } 
 /* nav-bar code */

 /* navbar div */
.navbar 
{
  display: flex;
  z-index:1;
  justify-content: space-between;
  align-items: center; 
  position: sticky;
  top: 0;
  color: #fff;
  padding: 10px 20px;
}
/* navbar link */
.nav-links 
{
  list-style: none;
  display: flex; 
  margin-right:40px;
}
.nav-links li
{
  margin-right:25px;
  font-size:19px;
}
.nav-links a
{
  text-decoration: none;
  color: #fff;
  display:inline-block;
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.nav-links a:hover  
{
  color:#0ef;  
}
.active 
{
     color:#0ef;
}
/* navbar-brand */
.logo a
{
  text-decoration:none;
  font-size:29px;
  color:#fff;
  padding:10px;
  margin-left:40px;
}
.logo 
{ 
  animation:slideright 1s ease forwards;
}
/* switch button for responsive bar */
.burger
{
  display: none;
  flex-direction: column; 
  cursor: pointer;
}
/* code for specific div */
.line1, .line2, .line3 
{
  width:25px;
  height: 4px;
  background-color: #fff;
  margin: 3px;
}

/* Display the content on  home */

.home 
{
 position:relative;
 display:flex;
 height:70vh;
 justify-content:space-between;
 align-items:center;
 flex-direction:row-reverse;
 flex-wrap:wrap;
 padding:5px 10% 10px;
}

/* Display .image-content and image */

.image-content
{
 animation:slideup 4s ease-in-out infinite;
}

.image-content  img 
{ 
 max-width:450px;
 max-height:400px;
 border-radius:70%;
 margin:-20px;
 box-shadow:0px 0px 60px #0ef;  
}

/* Display self  content  */
.home1 
{
 color:#fff;
 max-width:650px;
}
#home-first 
{  
 animation:slideNew 0.5s ease forwards;
}
.home1 h3 
{
 font-size: 32px; 
 animation:slideTop 0.5s ease forwards;
 font-weight:700;
}
.home1 h3 span 
{
color:#0ef;
} 
.home1 h1
{
font-size:56px;
font-weight: 700;
margin: -3px 0px;
animation:slideLeft 0.5s ease forwards;
}
.home p 
{
font-size:17px;
animation:slideLeft 0.5s ease forwards;
}
/* .social-button css  */
.social-button 
{
width:280px;
animation:slideTop 0.5s ease forwards;
}
.social-button i
{
font-size:16px;
padding:9px 10px;
border-radius:50%;
margin:3px 15px 30px 0px;
border:2px solid #0ef;
color:#0ef;
background:transparent;
font-weight:500;
transition:.5s; 
} 
.social-button i:hover 
{
color:#1f242d;
background-color:#0ef;
}

/* Download button for resume */
.button-resume  button
{
font-size:16px;
padding:10px 30px 10px;
border-radius:24px;
color:#1f242d;
background-color:#0ef;
border:none;
font-family: 600px;
box-shadow:0px 0px 10px #0ef;
letter-spacing:1px;
}
.button-resume button:hover 
{
font-weight:bold;
color:#1f242d;
width:250px;
}

.breakline 
{
display:none;
}

.button-resume span 
{
display:none;
margin-right:3px;
}
.button-resume:hover .span-download 
{
  display:inline;
}
.button-resume a 
{
    text-decoration:none;
    color:#1f242d;
}

/* animation of word  */
.spc-text
{ 
   position: relative;
   font-size:28px;  
   font-weight: bold;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color:rgb(214, 30, 61); 
   padding:2px;
   margin: 3px; 
}
.spc-text:before
{
content:""; 
position:absolute;
top:0%; 
left:0%; 
width:100%; 
height:100%;
background-color:#1f242d;
border-left:5px solid #0ef;
animation:Word-animated 5s  infinite;
}

/* Animation code all */
@keyframes Word-animated
{
0%
{
  left:0%;
}
60%
{
  left:106%;
} 
}
@keyframes slideTop 
{
0% 
{  
  transform:translateY(100px);
  opacity:0;
}
100% 
{
  transform:translateY(0);
  opacity:1;
}
}
@keyframes slideright 
{
0% 
{  
  transform:translateX(-100px);
  opacity:0;
}
100% 
{
transform:translateX(0);
opacity:1;
}
}
@keyframes slideup
{
 0%, 100% {
  transform: translateY(0);
 }
 50% {
  transform: translateY(-20px);
 }
}
@keyframes slideLeft
{
  0% 
 {  
   transform:translateX(100px);
   opacity:0;
 }
 100% 
{
  transform:translateX(0);
  opacity:1;
 } 
}
@keyframes slideNew
{
0% 
{  
  transform:translateY(100px);
  opacity:0;
}
100% 
{
 transform:translateY(0);
 opacity:1;
}
}


@media screen and (max-width:700px)
 {
      
 }
/* responsive code  */
@media screen and (max-width: 768px)
{
/* nav responsive */
.nav-links.active
{
  display: flex;
}
.nav-links li 
{
  padding:10px;
  margin-left:35px;
  text-align:center;
}
.nav-links
{
  margin:0px;
  display: none;
  flex-direction:column;
  width: 100%;
  position: absolute;
  top: 60px;
  padding:0px;
  left:6px;
  text-align: center;
  z-index:1;
}

/* iamge-content */

.image-content 
{    
  animation:none;
}
.breakline 
{
     display:inline;
}
.image-content img 
{
  max-width:95%;
  max-height:100%;
  margin:6px 5px 5px 0px;
  animation: none; 
  margin-left:0px; 
}
/* nav-brand */

.logo a 
{
  margin-left:0px;
}
.spc-text 
{  
 font-size:22px;
}

/* download button */
.button-resume 
{  
  text-align:center;
  width:280px;  
}
/* social-button */
.social-button 
{
 padding:10px;
 text-align:center;
}
.social-button i 
{
 margin:7px;
}
.home1 
{
 width:100%;
}
.burger
{
display: flex;
}
.home1 h3 
{
font-size:27px;
text-align:center;
margin:12px;
}
.home1 h1
{
font-size:36px;
text-align:center;
 margin-bottom:40px;
}
.home1 p 
{ 
text-align:justify;
}
}
