 /* Css of universal Selector  */
 * 
 {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 /* Css to Whole Body  */
 body 
 {
    padding:0px;
    margin:0px;
    background-color:#1f242d;
    padding:-bottom:100px;
 } 
  /* header part */
 .Skill-page h2
 {
   font-size:40px;
   color:#fff;
   text-align:center;  
 }
 /* Big Div */
 .project-page
 {
  width:80%;
  height:100px;
  display:flex;
  margin-bottom:200px;
  margin:auto;
  animation:Left_right 1s ease forwards;
  flex-wrap:wrap; 
 }
 /* Small Div */
 .project-cat 
{
  width:31%;
  margin:1%;
  padding:10px 20px;
  text-align: center;
  position:relative;
  border:1px solid #0ef;
  z-index:1;
  border-radius:10px;
}

.project-cat::before 
{
 content:"";
 background-color:black;
 position:absolute; 
 bottom:0;
 top:0;
 display:none;
 left:0;
 z-index:-1;
 right:0;
 animation:Slideleft_right .5s ease-in-out forwards;
}

/* Small div hover */
.project-cat:hover 
{
 border-radius:0px;
}
.project-cat:hover::before 
{  
display:block;
}
/* H3 CSS SAMLL PART */
.project-cat h3 
{   
color:#0ef;
}
/* P SMALL  */
.project-cat p 
{
 color:#fff;
}
/* ARROW REDIRECT */
.project-cat i 
{
 color:#fff;
 font-size:20px;
 padding:3px 3px;
 border-radius:10px; 
 transform:rotate(40deg);
}

/* Keyframes animation */


@keyframes Left_right 
{
     0% 
     {
        transform:translateX(-100px);
        opacity:0;
        border:none;
     }  
     100% 
     { 
         transform:translate(0);
         opacity:1;
         
     }
}
@keyframes Slideleft_right 
{  
0% 
{
  width:0;    
}
100% 
{
    width:100%;
}  
}

/* Responsive code  */
@media screen  and (max-width:600px)
{
.project-cat 
{
     width:100%;
     margin-bottom:10px;
}   
}